@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500 - Error:500 - Internal Server Error</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/error.css" rel="stylesheet" />
</head>
<body>
    <div class="text-center"> 
        <div class="img-servererror">
        </div>
        <h2>Internal Server Error</h2>
        <h4>An error occurred while processing your request.</h4>
        @if (Request.IsLocal)
        {
            <p>
                @Model.Exception.StackTrace
            </p>
        }
        else
        {
            <p>Model.Exception.Message</p>
        }
        <label>Back to <a href="@Url.Action("Index","Home")">Home</a></label>
    </div>
</body>
</html>
